/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 51, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 55, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 26, ../../src/sass/screen.sass */
html {
  overflow-y: scroll;
}

/* line 29, ../../src/sass/screen.sass */
body {
  background: none repeat scroll 0 0 #f5f5f5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 33, ../../src/sass/screen.sass */
#container {
  background: white;
  border: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 1200px;
}

/* line 39, ../../src/sass/screen.sass */
#top-menu {
  background: none repeat scroll 0 0 #efefef;
  border-bottom: 1px solid #dddddd;
  padding: 0 1em;
  font-size: 0.65em;
}
/* line 46, ../../src/sass/screen.sass */
#top-menu #account {
  float: right;
}
/* line 49, ../../src/sass/screen.sass */
#top-menu ul {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top-menu ul li:first-child, #top-menu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top-menu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top-menu ul li.last {
  padding-right: 0;
}
/* line 54, ../../src/sass/screen.sass */
#top-menu a, #top-menu #loggedas {
  color: #555555;
}
/* line 57, ../../src/sass/screen.sass */
#top-menu a {
  font-weight: bold;
}

/* line 60, ../../src/sass/screen.sass */
#content {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h1 img, #content h2 img, #content h3 img, #content h4 img, #content h5 img, #content h6 img {
  margin: 0;
}
/* line 53, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content strong, #content dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content em, #content dfn {
  font-style: italic;
}
/* line 66, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content sup, #content sub {
  line-height: 0;
}
/* line 67, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content abbr, #content acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content del {
  color: #666666;
}
/* line 70, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content pre, #content code, #content tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content li ul, #content li ol {
  margin: 0;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content ul, #content ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content th {
  font-weight: bold;
}
/* line 81, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content th, #content td, #content caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content table.striped tr:nth-child(even) td,
#content table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content .quiet {
  color: #666666;
}
/* line 89, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content .loud {
  color: #111111;
}
/* line 63, ../../src/sass/screen.sass */
#content h1 {
  color: #bb0099;
  margin: 0.4em 20px;
}
/* line 67, ../../src/sass/screen.sass */
#content .nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  background-color: #555555;
  margin: 0;
  padding: 0.4em 20px;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content .nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content .nav li:first-child, #content .nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content .nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content .nav li.last {
  padding-right: 0;
}
/* line 73, ../../src/sass/screen.sass */
#content .nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 78, ../../src/sass/screen.sass */
#content .nav a:hover {
  text-decoration: underline;
}

/* line 81, ../../src/sass/screen.sass */
a, a:link, a:visited {
  color: #bb0099;
  text-decoration: none;
}

/* line 84, ../../src/sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 87, ../../src/sass/screen.sass */
footer {
  border-top: 1px solid #e5e5e5;
  clear: both;
  color: #aaaaaa;
  font-size: 0.7em;
  text-align: center;
}

/* line 96, ../../src/sass/screen.sass */
.box {
  margin: 10px 0;
  padding: 10px 20px;
}

/* line 103, ../../src/sass/screen.sass */
#nav {
  font-size: 1em;
}

/* line 106, ../../src/sass/screen.sass */
.series-banner-wide {
  display: block;
  width: 758px;
  margin: 1.5em auto;
}
